@inherits LayoutComponentBase

<PageTitle>Calibration Calculator</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="http://www.linkedin.com/in/imad-yousef" target="_blank">About Me</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

